---
---

// add bootstrap variable settings here

@import 'bootstrap-flex';


// add more css stuff here

body {
    padding-top: 50px;
    background-color: $gray-lightest;
}
a {
    word-wrap: break-word;
    &:hover {
        text-decoration: none;
    }
}
.content {
    padding: 40px 0;

    h2 {
        margin-bottom: 1rem;
    }
    h2:not(:first-child) {
        margin-top: 3rem;
    }
}
.card {
    border-radius: 0;
    border: none;
}
.card-social {
    .btn-sm {
        font-size: 1rem;
    }
}
.card-img-top {
    max-width: 100%;
    width: 100%;
    display: block;
    border-radius: 0;
}
.btn {
    border-radius: 0;
}
.btn-icon {
    color: $gray-light;
    &:hover {
        color: $gray-dark;
    }
}
.weight-3 {
    font-weight: 300;
}
footer {
    padding: 4rem 2rem;
    background-color: #fff;
    div, p {
        text-align: center;
    }
    p {
        font-size: 0.85rem;
    }
}
.jumbotron {
    background-color: #fff;
}
.navbar-dark {
    .navbar-text {
        color: rgba(255,255,255,0.5);
    }
}
.navbar-brand {
    padding-top: 0.05rem;
}
.social-label {
    margin-left: 0.75rem;
}
.gallery {
    .img-fluid {
        padding-bottom: 15px;
    }
}
dt {
    i {
        color: $gray-light;
    }
}