_site/
.sass-cache/
_config.yml
Gemfile.lock
Gemfile
_curation/krautreporter.md
_curation/linkedin.md
_curation/mattermark.md
_curation/producthunt.md
_curation/snopes.md
_curation/startnext.md
_curation/statista.md
_curation/tineye.md
_curation/trendsmap.md
_curation/verificationhandbook.md
_curation/wolframalpha.md
_curation/xing.md
_curation/angel.md
_curation/crunchbase.md
_curation/datajournalismhandbook.md
_curation/datawrapper.md
_curation/destatis.md
_curation/flickr.md
_curation/getty.md
_curation/googlealerts.md
_curation/ifttt.md
_curation/kickstarter.md
_curation/knoema.md
watch.bat