<!--<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top justify-content-between">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
    <div class="collapse navbar-collapse" id="navbarCollapse" aria-expanded="false" style="">
        <ul class="navbar-nav mr-auto">
            {% for profile in site.profiles %}
            {% if profile.link != null and profile.icon != null and profile.name != null %}
            <li class="nav-item">
                <a class="nav-link" href="{{ profile.link }}" title="{{ profile.name }}"><i class="fa fa-fw {{ profile.icon }}" aria-hidden="true"></i> <span class="social-label hidden-lg-up">{{ profile.name }}</span></a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% if site.tagline != null %}
        <span class="navbar-text">{{ site.tagline }}</span>
        {% endif %}
    </div>
</nav>-->


<div class="collapse bg-primary text-inverse" id="navbarHeader">
    <div class="container">
        <div class="row">
            {% if site.cta.showinheader == true %}
            <div class="col-sm-4 pt-4">
            {% else %}
            <div class="col-sm-8 pt-4">
            {% endif %}
                <h4 class="weight-3">{{ site.translation.about }}</h4>
                <p>{{ site.description }}</p>
            </div>
            <div class="col-sm-4 pt-4">
                <h4 class="weight-3">{{ site.translation.contact }}</h4>
                <ul class="list-unstyled">
                    {% for profile in site.profiles %}
                    {% if profile.link != null and profile.icon != null and profile.name != null %}
                    <li>
                        <a class="link-inverse" href="{{ profile.link }}" title="{{ profile.name }}"><i class="fa fa-fw {{ profile.icon }}" aria-hidden="true"></i> <span class="social-label">{{ profile.name }}</span></a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% if site.cta.showinheader == true and site.cta.link != null %}
            <div class="col-sm-4 pt-4">
                <h4 class="weight-3">{{ site.cta.title }}</h4>
                <p>{{ site.cta.text }}</p>
                <p>
                    <a href="{{ site.cta.link }}" class="btn btn-primary" role="button" title="{{ site.cta.linktext }}">{{ site.cta.linktext }}</a>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<nav class="navbar navbar-inverse bg-primary">
    <div class="container d-flex justify-content-between">
        <a href="{{ site.url }}" class="navbar-brand weight-3">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>