    <footer>
            <div class="container">
                <div>
                {% for profile in site.profiles %}
                {% if profile.link != null and profile.name != null %}
                    <a class="btn btn-link" href="{{ profile.link }}">{{ profile.name }}</a>
                {% endif %}
                {% endfor %}
                </div>
                <p>{{ site.footer }}</p>
            </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{{ site.url }}/js/bootstrap.min.js"></script>
