---
layout: default
---
<div class="jumbotron">
    <div class="container">
        <h1 class="weight-3">{{ page.title }}</h1>
        <div><span class="text-muted">{{ page.category }}</span></div>
    </div>
</div>

<div class="container">
    <div class="content">
        {% if page.gallery != null %}
        <h2 class="weight-3">{{ site.translation.gallery }}</h2>
        <div class="row">
            {% for image in page.gallery %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery">
                <img class="img-fluid" src="{{ image | prepend:'/assets/' | prepend:site.url }}" alt="{{ page.title }}">
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <h2 class="weight-3">{{ site.translation.description }}</h2>
        {{ content }}
        <h2 class="weight-3">{{ site.translation.profiles }}</h2>
        <dl class="row">
            {% if page.social.website != null %}
            <dt class="col-sm-3 weight-3"><i class="fa fa-fw fa-home" aria-hidden="true"></i> Website</dt>
            <dd class="col-sm-9">
                <a href="{{ page.social.website }}" title="Visit {{ page.title }}">{{ page.social.website }}</a>
            </dd>
            {% endif %} {% if page.social.steam != null %}
            <dt class="col-sm-3 weight-3"><i class="fa fa-fw fa-steam" aria-hidden="true"></i> Steam Group</dt>
            <dd class="col-sm-9">
                <a href="{{ page.social.steam }}" title="Visit {{ page.title }} in Steam">{{ page.social.steam }}</a>
            </dd>
            {% endif %} {% if page.social.github != null %}
            <dt class="col-sm-3 weight-3"><i class="fa fa-fw fa-github" aria-hidden="true"></i> Github</dt>
            <dd class="col-sm-9">
                <a href="{{ page.social.github }}" title="Visit {{ page.title }} on Github">{{ page.social.github }}</a>
            </dd>
            {% endif %} {% if page.social.twitter != null %}
            <dt class="col-sm-3 weight-3"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i> Twitter</dt>
            <dd class="col-sm-9">
                <a href="{{ page.social.twitter }}" title="Visit {{ page.title }} on Twitter">{{ page.social.twitter }}</a>
            </dd>
            {% endif %} {% if page.social.facebook != null %}
            <dt class="col-sm-3 weight-3"><i class="fa fa-fw fa-facebook-f" aria-hidden="true"></i> Facebook</dt>
            <dd class="col-sm-9">
                <a href="{{ page.social.facebook }}" title="Visit {{ page.title }} on Facebook">{{ page.social.facebook }}</a>
            </dd>
            {% endif %} {% if page.social.reddit != null %}
            <dt class="col-sm-3 weight-3"><i class="fa fa-fw fa-reddit-alien" aria-hidden="true"></i> Reddit</dt>
            <dd class="col-sm-9">
                <a href="{{ page.social.reddit }}" title="Visit {{ page.title }} on Reddit">{{ page.social.reddit }}</a>
            </dd>
            {% endif %} {% if page.social.youtube != null %}
            <dt class="col-sm-3 weight-3"><i class="fa fa-fw fa-youtube-play" aria-hidden="true"></i> Youtube</dt>
            <dd class="col-sm-9">
                <a href="{{ page.social.youtube }}" title="Visit {{ page.title }} on Youtube">{{ page.social.youtube }}</a>
            </dd>
            {% endif %} {% if page.social.twitch != null %}
            <dt class="col-sm-3 weight-3"><i class="fa fa-fw fa-twitch" aria-hidden="true"></i> Twitch</dt>
            <dd class="col-sm-9">
                <a href="{{ page.social.twitch }}" title="Visit {{ page.title }} on Twitch">{{ page.social.twitch }}</a>
            </dd>
            {% endif %}
        </dl>
    </div>
</div>
<!-- /.container -->
